body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
  padding: 2% 0 2% 0;
  color: white;
}

.react-loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start-end;
  flex: 1;
  flex-flow: row wrap;
}

.card {
  width: 185px;
  margin: 25px;
}

.card-title {
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: space-around;
}

.card-text {
  font-weight: 300;
  text-align: center;
}

.card-rating {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
}

.card-button {
  margin-top: 20px;
  margin-bottom: 100px;
}

.modal-promo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overview {
  margin-top: 10px;
}

.modal-badge {
  margin-right: 5px;
}